html,
body {
  padding: 0;
  margin: 0;
}

.g {
  height: 100vh;
  min-height: 420px;
  width: 375px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  .fix-bottom {
    position: fixed;
    bottom: 10px;
  }
}

.form-wrap {
  padding-top: 25px;
  width: 100%;
  border: 1px #999999 solid;
}

.login-form {
  padding: 0 32px;
  height: 144px;
}

.login-form-forgot {
  float: right;
}

.ant-col-rtl .login-form-forgot {
  float: left;
}

.login-form-button {
  width: 100%;
}

.ant-divider-horizontal.ant-divider-with-text {
  margin: 0;
}

.reg {
  padding: 0 32px;
  margin-top: 12px;
}

.more {
  display: flex;
  height: 64px;
  align-items: center;
  justify-content: space-around;

  .more-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #8e8787;
    padding: 5px;
    width: 60px;
    text-align: center;

    small {
      font-size: 12px;
    }

    svg {
      font-size: 20px;
    }

    cursor: pointer;
    border: #fff solid 1px;
  }

  .more-btn:hover {
    border: #d9d9d9 solid 1px;
  }
}
