.sms-form {
  .ant-input-group-addon {
    padding: 0;
  }
}

.usb-form {
  .span-warp {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    div {
      flex: 1;
      text-align: center;
    }
  }
}
